body {
  background-color: #02442b;
  height: 1000px;
}
.color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: #02442b !important;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
  font-weight: 700 !important;
}
.fa-solid {
  color: #fff !important;
}
button {
  background-color: #ffeb38 !important;
  font-weight: 700 !important;
}
.navbar-toggler {
  background-color: transparent !important;
  border: none !important;
}
.tel-btn {
  border-radius: 20px;
  transition: 1s;
  &:hover {
    opacity: 0.5;
  }
}
.tel-btn a {
  text-decoration: none;
  color: #02442b !important;

  font-weight: 700;
  padding-right: 8px;
}
.tel-btn .fa-phone {
  color: #02442b !important;
  padding-left: 8px;
}
.navbar-collapse .nav-item {
  margin-left: 20px !important;
}
.navbar-collapse .dropdown-toggle {
  padding-left: 20px !important;
}
.dropdown {
  background-color: #ffeb38 !important;
  border-radius: 6px;
}
.dropdown .nav-link {
  color: #02442b !important;
}
.dropdown-menu {
  border-radius: none !important;
}
.active-color {
  background: #02442b !important;
}
.stay {
  margin-top: 50px !important;
  background-color: #ffeb38 !important;
  color: #02442b !important;
  transition: 0.4s;
}
.ariza-btn,
.xizmatlar-btn {
  font-weight: 700;
  transition: 0.5s;
  &:hover {
    color: #fff !important;
  }
}
.stay:hover {
  background-color: #ffeb3890 !important;
  color: #fff !important;
}
#sariq {
  color: #ffeb38 !important;
}
.color li a,
* {
  color: #fff !important;
  transition: 0.5s;
}

.dropdown-toggle:hover {
  color: #02442b !important;
}
.color .dropdown ul a {
  color: #02442b !important;
  font-weight: 700;
}
.fa-phone:before {
  content: "\f095";
}
.fa-solid,
.fas {
  font-weight: 900;
  font-size: 20px;
}
.hero-img {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: 100px;
}
.h1 {
  font-size: 7rem;
  text-align: center;
  transition: 1s;
  &:hover {
    transform: scale(1.3);
  }
}
.h2 {
  color: #ffeb38 !important;
  text-align: center;
  font-size: 2.7rem;
}
.hr {
  height: 0;
  border: 1px solid #ffeb38;
  margin: 100px 0 !important;
}
.loyhalash,
.interyer,
.exsteryer,
.Landshaft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 50px;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.loyhalash-left {
  max-width: 600px;
  border-radius: 20px;
  transition: 0.5s;
  margin-top: 50px !important;
  &:hover {
    opacity: 50%;
    transform: scale(1.1);
  }
}
.loyhalash-title {
  font-size: 3rem;
  /* text-align: center; */
  margin-bottom: 20px;
  max-width: 263px;
  transition: 0.5s;
  &:hover {
    /* color: #ffeb38 !important; */
    transform: scale(1.2);
  }
}
.loyhalash-paragrf {
  color: #ffeb38 !important;
  font-size: 1.6rem;
}
.loyhalash-btn {
  text-align: center;
  margin: 0 auto;
  margin-top: 0 !important;
  width: 50% !important;
  transition: 0.5s;
  &:hover .batafsil {
    color: #fff !important;
  }
}
.loyhalash-btn:hover {
  width: 90% !important;
  transition: 1s;
}
.batafsil {
  color: #02442b !important;
}
.loyhalash-a2 {
  display: none !important;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footerhr {
  margin-bottom: 0px !important;
}

.arch_logo2 {
  display: none;
}
.target {
  display: flex;
  gap: 20px;
}

@media (max-width: 992px) {
  .loyhalash,
  .interyer,
  .exsteryer,
  .Landshaft {
    display: block;
  }
  .loyhalash-paragrf,
  .loyhalash-title {
    text-align: justify !important;
    margin: 0 auto !important;
  }
  .loyhalash-title {
    text-align: center !important;
  }
  .loyhalash-left {
    margin: 30px 0 !important;
    width: 100% !important;
  }
  .loyhalash-a2 {
    display: inline !important;
  }
  .loyhalash-a {
    display: none !important;
  }
  .h1:hover {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .hero-img {
    width: 70%;
    margin-top: 0;
  }
  .hero {
    padding-top: 130px;
  }
  .h1 {
    font-size: 4rem;
  }

  .h2 {
    font-size: 1.4rem;
  }
  .arch_logo2 {
    display: inline;
  }
  .arch_logo {
    display: none;
  }
}
